<1>Editing Book</1>

<%= form_with model: @book,url:update_book_path(@book.id),method: :patch do |f| %>
<p>title</p>
<span><%= f.text_field :title %></span>

<p>Body</p>
<span><%= f.text_area :body %></span>

<%= f.submit 'Update Book' %>
<%end%>

<span><%= link_to "Show", show_book_path(@book.id) %></span>
<p>|</p>
<span><%= link_to "Back", index_book_path %></span>