<!--一覧画面-->
<div><%= flash[:notice] %></div>

<div class="index">
<h1 class="books-title">Books</h1>
<table>
<tr>
<th width="200">Title</th>
<th width="400">Body</th>
</tr>

<% @books.each do |book| %>
<!--@books.eachでBookレコードの数だけ繰り返し処理、book変数に格納-->
<tr height="20">
<td><%= book.title %></td>
<td><%= book.body %></td>

<td><%= link_to "Show", book_path(book.id) %></td>
<td><%= link_to "Edit", edit_book_path(book.id) %></td>
<td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm"=>"Are you sure?" %></td>
</tr>
<% end %>
</table>
</div>

<div class="create-book">
<h1 class=newbooks-title>New Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %> errors prohibited this book from being saved:
 <ul>
 <% @book.errors.full_messages.each do |message| %>
 <li><%= message %></li>
 <%end%>
 </ul>
<%end%>

<%= form_with model: @book, url:books_path, method: :post do |f| %>  <!--Bookモデルの情報をもとに新しくオブジェクトを作成-->
 <div class="create-box">
  <div class="create-format">Title</div>
 <%= f.text_field :title %>
  <div class="create-format">Body</div>
 <%= f.text_area :body %>
 </div>
 
 <%= f.submit 'Create Book' %>
<% end %>
 </div>
