<div class="flash"><%= flash[:notice] %></div>

<div class="show-box">
<p><span class="show-text">Title:</span> <%= @book.title %></p>
<p><span class="show-text">Body:</span> <%= @book.body %></p>
</div>

<div class="link-box">
<span class="link"><%= link_to "Edit", edit_book_path(@book.id) %></span><span class="link">|</span><span class="link"><%= link_to "Back", books_path %></span>
</div>
